#heading{
    width: 100%;
    height:60px;
    font-size: 45px;
    font-family: 'Neonderthaw', cursive;
    color: lavender;
}

#startbutton{
    background-color: rgba(26, 25, 25, 0);
    font-family: 'Neonderthaw', cursive;
    color: rgba(140, 206, 206, 0.904);
    font-size: 30px;
    border-radius: 10px;
    background-color: lightgoldenrodyellow;
}
#heading2{
    font-family: 'Neonderthaw', cursive;
    font-size: 25px;  
}
canvas{
    margin-top: 140px;
    border:2px solid navy
}
